footer {
    background-color: #fff;
    height: 107px;
    text-align: center;

    p {
        padding: 58px 0 31px 0;
        font: 14px/24px 'Noto Sans JP', sans-serif;
        letter-spacing: 0px;
        color: #333333;
    }
}